<h2>USERS</h2>
<% @users.each do |u| %>
	<div class="vid-contain">
		<h3><%= link_to u.user_name, user_path(u) %></h3>
			<% if (current_user != nil && current_user.id == u.id) ||
				(current_user != nil && current_user.id == 1) %>
				<%= link_to 'Edit Profile   ', edit_user_path(u.id) %>
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			<% else %>		
			<% end %>
	</div>
<% end %>
<%= link_to "Go to Video", videos_path %></br>